<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset = "utf-8"/>
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name = "keywords" content = "portfolio, home, amir, saleem"/>
    <meta name = "description" content = "web developer portfolio amir saleem"/>
    {{#styles.length}}
      	{{#styles}}
      		<link rel="stylesheet" type = "text/css" href="/{{.}}"/>
      	{{/styles}}
  	{{/styles.length}}
  </head>

  <div class="col-md-12">
    <div class="row">
      <header>
        
      </header>
    </div>
  </div>

  <body>
