@import 'colors';

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.thick-border-dark {
  border: 5px solid $dark;
}

.thin-border-dark {
  border: 1px solid $dark;
}
.thick-border-light {
  border: 5px solid $light;
}

.thin-border-dark {
  border: 1px solid $dark;
}

.dark-bg {
  background: $dark;
}

.light-bg {
  background: $light;
}
